/*
.yc-userVideo{
	padding:1rem0;
	video{
		width:calc($videosquere+50px);
		height:$videosquere;
			overflow:hidden;
	}

	.yc-userVideo__questions{
			padding:0;
			li{
				opacity:.9;
				margin:.5rem;
			}
	}
}

.yc-video-Container{
	border-radius: $border-radius-sm;
	overflow: hidden;
}

.yc-video-editor{
	background: #222;
	width: 320px;
	height: 240px;
	margin: 10px auto;
}
*/